<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Fast Tag.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3F75C3B6AC0CF738F09D59AEF588EB64AAA12548</string>
				<key>dateExpires</key>
				<string>12/9/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F75C3B6AC0CF738F09D59AEF588EB64AAA12548</string>
						<key>dateExpires</key>
						<string>12/9/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RZS99MMBKX</string>
						<key>name</key>
						<string>Brandon Gantt</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>RZS99MMBKX.com.edapptable.beepbaby</string>
				<key>com.apple.developer.team-identifier</key>
				<string>RZS99MMBKX</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>RZS99MMBKX.com.edapptable.beepbaby</string>
				</array>
			</dict>
			<key>name</key>
			<string>Fast Tag.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>3e7822f4-fe24-4077-8b46-03fab61bc6c6</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>RZS99MMBKX</string>
				<key>name</key>
				<string>Brandon Gantt</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
